
html, body {
  height: 100%;
  width:100%;
  text-align: center;
  background-color: ghostWhite;
}

h1 {
  font-family: 'LifeSavers', serif;
  margin-top: 2em;
}

h3 {
  font-family: 'OpenSans', serif;
}



div {
  text-align: center;
}

div.searchImageContainer img.searchImage {
  height:10em;
  width: 100%;
}

div.searchImageContainer {
  padding: 15px;
}

div.outerStickerBar {
  /*width: 88em;*/
  width: 100%;
  height: 14em;
  overflow: hidden;
  border: 1px solid black;
}

div.innerStickerBar {
  width:1800em;
  height: 15em;
  overflow-y: hidden;
  overflow-x: scroll;
}

div.stickerImageContainer {
  display: inline-block;
  height: 12em;
  padding: 0 2em;
  width: 18em;
  background-color: black;
}

img.stickerImage {
  height: 100%;
  width: 100%;
}

div.playgroundGifContainer {
  position: relative;
}

div.userStickerContainer {
 position: absolute;
 top:-5%;
 left:-5%;
 height:110%;
 width:110%;

}

#userStickerImgContainer {
  position: absolute;
}

img.playgroundGif {
  height: 100%;
  width: 100%;
}

h3.welcome {
  width: 19em;
  margin: auto;
  line-height: 1.5em;
  text-align: justify;
}

img.userSticker {
  height:12em;
  width:12em;
}

img.searchImage {
  box-shadow: 0 0 1px black,
              0 0 2px black,
              0 0 3px black,
              0 0 4px black,
              0 0 5px black,
              0 0 7px black,
              0 0 8px black,
              0 0 10px black;
  border-radius: 10px;
}

.form-control {
  display:inline-block;
}

input.playInput {
  width: 22em;
  margin: auto;
}

button {
  margin-left:10px;
}
.shotBtn, .stickerBtn {
  margin: 1em;
}

img.bgCat {
  position: absolute;
  top:1em;
  right:1em;
}

img.bgjack {
  position: absolute;
  top:1em;
  left:1em;
}

ul {
  margin: 3em 1em;
}
